<mat-toolbar color="primary">
    <span>
        TAYLOR MANAGEMENT APPLICATION
    </span>

    <span class="space-buttons"></span>

    <button *ngIf="! isLoggedIn()" mat-raised-button color="warn" routerLink="/register"
        style="margin-right: 10px;">Register<mat-icon>add_circle</mat-icon></button>
    <button *ngIf="! isLoggedIn()" mat-raised-button color="primary"
        routerLink="/login">Login<mat-icon>login</mat-icon></button>
    <button *ngIf="isLoggedIn()" mat-raised-button color="warn" (click)="logout()">Logout</button>
</mat-toolbar>

<mat-toolbar color="primary" *ngIf="isLoggedIn()" style="margin-top: 2px;">
    <a class="a" color="primary" routerLink="/" style="margin-right: 10px;">Home</a>
    <span *ngIf="isAdmin()" style="margin-right: 10px;"> | </span>
    <a class="a" *ngIf="isAdmin()" color="primary" routerLink="/admin" style="margin-right: 10px;">Admin
        Page</a>
    <span *ngIf="isAdmin()" style="margin-right: 10px;"> | </span>
    <a class="a" *ngIf="isAdmin()" color="primary" routerLink="/addNewProduct">Add New Product</a>
    <span *ngIf="isAdmin()" style="margin-right: 10px; margin-left: 10px;"> | </span>
    <a class="a" *ngIf="isAdmin()" color="primary" routerLink="/showProductDetails">Show Product Details</a>
</mat-toolbar>