<div class="container mt-5">
    <div class="card p-2">
        <div class="row">
            <div class="col-6">
                <form #productForm="ngForm" (ngSubmit)="addProduct(productForm)">

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Category</mat-label>
                        <input required [(ngModel)]="product.category" matInput placeholder="Enter Category"
                            name="category">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product Name</mat-label>
                        <input required [(ngModel)]="product.productName" name="productName" matInput
                            placeholder="Enter Product Name">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product Description</mat-label>
                        <input required [(ngModel)]="product.productDescription" name="productDescription" matInput
                            placeholder="Enter Product Description">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Discounted Price (LKR)</mat-label>
                        <input [(ngModel)]="product.discountedPrice" name="discountedPrice" matInput
                            placeholder="Enter Discounted Price">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Actual Price (LKR)</mat-label>
                        <input required [(ngModel)]="product.productPrice" name="productPrice" matInput
                            placeholder="Enter Actual Price">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product Status</mat-label>
                        <select matNativeControl [(ngModel)]="product.productStatus" name="productStatus">
                            <option value="New Arrival">New Arrival</option>
                            <option value="Trending">Trending</option>
                        </select>
                        <!-- <input [(ngModel)]="product.productPrice" name="productPrice" matInput placeholder="Enter Actual Price"> -->
                    </mat-form-field>

                    <div align="end">
                        <button type="reset" mat-stroked-button color="primary">Clear</button>
                        <button *ngIf="isNewProduct" type="submit" style="margin-left: 5px;" mat-stroked-button color="primary">Add
                            Product</button>
                        <button *ngIf="!isNewProduct" type="submit" style="margin-left: 5px;" mat-stroked-button color="primary">Update
                            Product</button>
                    </div>

                </form>
            </div>
            <div class="col-6">
                <div>
                    <div class="dropzone" appDrag (files)="fileDropped($event)">
                        <div class="textWrapper">
                            <div class="centered">
                                Drag and Drop Images or
                                <a (click)="selectFile.click()" class="browse-btn">Browse</a>
                                File
                            </div>
                        </div>
                    </div>

                    <input type="file" style="display: none;" multiple value="Select" #selectFile
                        (change)="onFileSelected($event)">

                </div>
                <div class="mt-5">
                    <div class="row">
                        <mat-grid-list cols="4" rowHeight="1:1">
                            <mat-grid-tile *ngFor="let file of product.productImages; let i = index;">
                                <div style="position: relative">
                                    <span class="close-btn" (click)="removeImage(i)"><mat-icon>close</mat-icon></span>
                                    <img [src]="file.url" width="100px" height="100px">
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>